@using Microsoft.AspNetCore.Identity

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@inject UserManager<IdentityUser> UserManager



<div class="card">
    <div class="header">
        <h2>Perfil de Utilizador</h2>
        <span>UserManager.GetUserName(User)</span>
    </div>
    <div class="body">
            @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
