@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <h1>Login</h1>
}
else
{
    <H1>Not Login</H1>
}