@model ChangeRoleModel

@{
    ViewData["Title"] = "Change Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Utilizadores</h2>

<!--<div>
    <form method="post" class="body">
        <input asp-for="Email" type="text" id="emailField" style="visibility:hidden"/>
        <span asp-validation-for="Email" class="form-control"></span><br />

        <select asp-for="Rolename"
    </form>
</div>-->

@section Scripts {

    <script src="~/plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="~/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>

    <script>
        //Exportable table
        $('#volunteers').DataTable({
            dom: 'Bfrtip',
            responsive: true,
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    </script>
}