@page
@model LoginModel

@{
    ViewData["Title"] = "Entrar";
}


<div class="row">
    <div class="col-md-12">
        <section>
            <form method="post">
                <h4>Faça Login para entrar</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-block bg-primary waves-effect">Entrar</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-page="./ForgotPassword">Esqueceu-se da password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Ainda não tenho conta. Quero Registar-me</a>
                    </p>
                </div>
            </form>
        </section>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}