@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<html>
<partial name="_head" />
<body class="theme-pl">



    @if (SignInManager.IsSignedIn(User))
    {
        <partial name="_topBar" />
        <div class="overlay"></div>
        <partial name="_pageLoader" />

        <section>
            <partial name="_sidebar" />
        </section>

        <section class="content">
            <div class="container-fluid">

                @RenderBody()

            </div>
        </section>

        <partial name="_footer" />
    }
    else
    {
        <h1>Not Login</h1>
        <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Registar</a></li>
        <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Entrar</a></li>
        @RenderBody()
    }






    @RenderSection("Scripts", required: false)
</body>
</html>