@using Microsoft.AspNetCore.Identity
@using ProjetoESW.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@if (SignInManager.IsSignedIn(User))
{
    
    

}
else
{<ul class="list">
        <li class=" ">
            <a asp-area="Identity" asp-page="/Account/Login">
                <span>Entrar</span>
            </a>
        </li>
        <li class=" ">
            <a asp-area="Identity" asp-page="/Account/Register">
                <span>Registar</span>
            </a>
        </li>
    </ul>
}




@if (SignInManager.IsSignedIn(User))
{

}
else
{
    <!--ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Registar</a></li>
        <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Entrar</a></li>
    </ul-->
}