@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"> <a class="nav-link" href="/Volunteer/Index">Voluntários</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Utilizadores</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Animais</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Colónias</a> </li>
       
            <li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@UserManager.GetUserName(User)!</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="cursor:pointer;" onclick="document.getElementById('btn-sair').click();">Sair</a>
                <button style="display:none;" id="btn-sair" class="nav-item" type="submit">Sair</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Registar</a></li>
        <li class="nav-item"><a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Entrar</a></li>
    </ul>
}