@using Microsoft.AspNetCore.Identity
@using ProjetoESW.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- User Info -->
        <div class="user-info">
            <div class="info-container">
                <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b>@UserManager.GetUserName(User)</b></div>

            </div>
        </div>
        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu">
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})" method="post" id="logoutForm">

                <ul class="list">
                    <li class=" ">
                        <a asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="material-icons">home</i>
                            <span>Inicio</span>
                        </a>
                    </li>
                    @if (User.IsInRole("Administrator") || User.IsInRole("ColonyManager"))
                    {
                        <li>
                            <a class="menu-toggle waves-effect waves-block">
                                <i class="material-icons">group</i>
                                <span>Voluntários</span>
                            </a>
                            <ul class="ml-menu">
                                <li class=" ">
                                    <a asp-area="" asp-controller="Volunteers" asp-action="Index">
                                        <i class="material-icons">list</i>
                                        <span>Listagem</span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a asp-area="" asp-controller="Volunteers" asp-action="Create">
                                        <i class="material-icons">add</i>
                                        <span>Adicionar Novo</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("Administrator"))
                    {
                        <li>
                            <a class="menu-toggle waves-effect waves-block">
                                <i class="material-icons">group</i>
                                <span>Utilizadores</span>
                            </a>
                            <ul class="ml-menu">
                                <li class=" ">
                                    <a asp-area="" asp-controller="Users" asp-action="Index">
                                        <i class="material-icons">list</i>
                                        <span>Listagem</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    <hr />
                    <li>
                        <a class="menu-toggle waves-effect waves-block">
                            <i class="material-icons">person</i>
                            <span>Minha Conta</span>
                        </a>
                        <ul class="ml-menu">
                            <li class=" ">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                                    <i class="material-icons">person</i>
                                    <span>Dados Pessoais</span>
                                </a>
                            </li>
                            <li class=" ">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/ChangePassword" title="Manage">
                                    <i class="material-icons">person</i>
                                    <span>Mudar Password</span>
                                </a>
                            </li>
                            <li class=" ">
                                <a onclick="document.getElementById('btn-sair').click();">
                                    <i class="material-icons">logout</i>
                                    <span>Sair</span>
                                </a>
                                <button style="display:none;" id="btn-sair" class="nav-item" type="submit">Sair</button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </form>
        </div>
        <!-- #Menu -->
        <!-- Footer -->
        <div class="legal">
            <div class="copyright">
                &copy; 2018 - 2019 <a href="javascript:void(0);">Grupo 06</a>.
            </div>
            <div class="version">
            </div>
        </div>
        <!-- #Footer -->
    </aside>
}