@model ProjetoESW.Models.Volunteer

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="header">
        <h2>Editar Voluntário</h2>
        <span>@Html.DisplayFor(model => model.Name)</span>
    </div>
    <div class="body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone" class="control-label"></label>
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span onclick="document.getElementById('submeter').click();" style="cursor:pointer;" class="btn btn-primary btn-export"><i class="fa fa-save"></i> Guardar</span>
                <input id="submeter" style="display:none" type="submit" value="Guardar" class="btn btn-primary btn-export"></input>
                <a asp-action="Index"><span class="btn btn-primary btn-export"><i class="fa fa-backward"></i> Voltar</span></a>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
